/* style.css */
.twi-hai-dl-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    transition-property: background-color, box-shadow;
    transition-duration: 0.2s;
    cursor: pointer;
    margin-left: 2px;
    border: none;
    background: transparent;
    color: rgb(113, 118, 123); /* Default icon color (Gray) */
}

.twi-hai-dl-btn:hover {
    background-color: rgba(29, 155, 240, 0.1);
    color: rgb(29, 155, 240); /* Twitter Blue */
}

.twi-hai-dl-btn svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
}
